body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; } 
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; } 
h1, h2, h3, h4, h5, h6{ font-size:100%; } 
address, cite, dfn, em, var { font-style:normal; } 
code, kbd, pre, samp { font-family:couriernew, courier, monospace; } 
small{ font-size:12px; } 
ul, ol { list-style:none; } 
a { text-decoration:none;color: #fff;font-size: 12px;} 
a:hover { text-decoration:underline; } 
sup { vertical-align:text-top; } 
sub{ vertical-align:text-bottom; } 
legend { color:#000; } 
fieldset, img { border:0; } 
button, input, select, textarea { font-size:100%; } 
table { border-collapse:collapse; border-spacing:0; }

body,html,#app,#wrapper{
    height: 100%;
    width: 100%;
}

.pull-left{float: left;}
.pull-right{float: right;}
.clearfix:after{content:"";clear:both;overflow:hidden;height: 0;display: block;}

.text-center{text-align: center;}
.text-right{text-align: right;}
.text-left{text-align: left;}

/* 基础色 */
.base_bgcolor{background: #535353;}